@import 'base/mixins';
@import 'base/variables';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/slider';

@import 'media';

* {
  font-family: 'Museo Sans Cyrl', sans-serif;
}

.container {
  max-width: 950px;
  margin: 0 auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}
