.advantages {
  padding-top: 71px;
  padding-bottom: 77px;
  background-color: #f6f6f6;
  &__title {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 30px;
    color: #0d0d0d;
    margin-bottom: 64px;
  }
  &__wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__item {
    display: flex;
    flex-basis: 26%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    &-img {
      margin-bottom: 38px;
    }
    &-title {
      font-weight: 700;
      font-size: 18px;
      color: #0d0d0d;
      margin-bottom: 26px;
    }
    &-text {
      font-weight: 300;
      text-align: center;
      font-size: 14px;
      color: #0d0d0d;
    }
  }
}
  